.input {
    font-size: 18px;
    padding: 10px;
    border: 2px solid palegoldenrod;
    color: cornflowerblue;
    border-radius: 8px;
}

.output {
    font-size: 24px;
    padding: 20px;
    box-shadow: 44px 20px 32px 5px #efefef;
    cursor: pointer;
}